body {
  --ink-font: "Roboto", sans-serif;
  --ink-font-headers: "Noto Sans", serif;
  --mdc-theme-primary: #ee9127;
  --mdc-theme-secondary: #46f;
}
ink-outline {
  position: fixed;
  top: 46px;
  left: calc(50vw + 530px);
}
@media screen and (max-width: 1500px) {
  ink-outline {
    position: initial;
    top: unset;
    left: unset;
  }
}
