ink-var {
  /* display: none; */
  display: block;
  color: #D46485;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  background-color: #EFEFEF;
  width: fit-content;
  padding: 5px;
  margin: 5px 0;
}
/* This is for ink-dynamic when dragging */
body.ink-drag-horz{
  cursor: col-resize;
}
ink-dynamic {
  color: #46f;
  border-bottom: 1px dashed #46f;
}

ink-action {
  cursor: pointer;
  color: #46f;
  border-bottom: 1px solid #46f;
}

body {
  --mdc-theme-primary: #02011f;
  --mdc-theme-secondary: #46f;
}
