article {
  margin: auto;
  padding-left: 10px;
  padding-right: 250px;
  position: relative;
  width: calc( max( min( 100vw , 790px ), 500px ) );
}
@media screen and (max-width: 1050px) {
  article {
    width: calc(100vw - 250px);
  }
}
@media screen and (max-width: 600px) {
  article {
    width: calc(100vw - 30px);
  }
}

article {
  a {
    color: #1E88E5;
    text-decoration: none;
    font-weight: 500;
  }
  a:hover{
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: var(--ink-font-headers, serif);

    &::before {
      content: '#';
      cursor: pointer;
      position: absolute;
      left: -7px;
      color: #929292;
      opacity: 0;
      padding-right: 10px;
      transition: all 200ms;
    }
    &:hover::before {
      opacity: 1;
    }
  }

  code{
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    background-color: #FAFAFA;
    padding: 0 3px;
  }

  h1:first-of-type{
    border-bottom: 1px solid #333;
  }

  dl dt{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dl dd{
    margin-left: 180px;
  }
  p {
    display: block;
    text-align: justify;
    overflow-wrap: break-word;
    font-size: 17px;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4D4D4D;
    font-family: var(--ink-font, sans-serif);
    font-weight: 300;
  }
  em {
    font-style: italic;
  }
  strong {
    color: black;
  }
  .ink-drag-horz{
    cursor: col-resize;
  }
  .ink-drag-move{
    cursor: move;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  thead{
    font-size: 105%;
    border-bottom: 1px solid #333;
    color: black;
  }
  tbody{
    border-left: 1px solid #333;
  }
  td{
    padding-left: 8px;
  }
}
