article aside.callout{
  position: unset;
  left: unset;
  width: unset;
  float: unset;
  margin: unset;
  margin-top: unset;
  display: block;
  padding: 5px 20px;
  margin: 20px 0;
  border: 1px solid #AAAAAA;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #4285F4;
}
article aside.callout, article aside.callout p {
  font-size: inherit;
  color: #000;
}

article aside.callout.active{ border-left-color: #AAAAAA; }
article aside.callout.success{ border-left-color: #9EC667; }
article aside.callout.info{ border-left-color: #4285F4; }
article aside.callout.warning{ border-left-color: #F3B300; }
article aside.callout.danger{ border-left-color: #CA4F44; }
