article {
  blockquote {
    padding: 10px 20px;
    margin: 20px 0;
    border-left: 5px solid var(--mdc-theme-primary, #eee);

    p {
      color: #646464;
      font-size: 1.5em;
      line-height: 1.2;
      margin-top: 0;
    }

    footer {
      font-family: var(--iooxa-font, sans-serif);
      color: #a7a7a7;
      font-size: 1em;

      cite {
        text-transform: uppercase;
        color: var(--mdc-theme-primary, #eee);
        font-style: normal;
        font-weight: 700;
      }
      time {
        font-style: italic;
        font-size: 0.9em;
      }
      time::before {
        content: " - ";
      }
    }
  }
}
