// style.scss
@use 'components';
@use 'layout';
@use 'article';
@use 'cards';
@use 'outline';
@use 'nav';
@use 'aside';
@use 'callout';
@use 'quote';
@use 'equation';

body {
  margin: 0;
  padding: 0;
}

r-var {
  display: none;
}
